
<br/>
<br/>
<!--<center style="width:100%; background:">
    <img src="img/outreach/head.png"/>
</center>-->
<br /><br />
<div class="container" style="/*width:800px*/">
    <br/>
    <br/>
    <div class="row">
        <div class="col-xs-3">
            <img class="img-circle" src="img/outreach/community.jpg" style="max-height: 100%; max-width: 100%;" />
        </div>
        <div class="col-xs-9">

                <h3>Educating the Community about FIRST</h3>
                <p>Team 254 strives to enhance awareness of STEM education and FIRST robotics through demonstrations of the team’s robots to sponsors and the community at large. The team’s T-shirt cannon, Shockwave, has appeared at sporting events at Bellarmine College Preparatory, local universities like Stanford and Santa Clara, and many other events. Shockwave has been featured on Sports Illustrated. In addition, the team provides all of its sponsors with robot demonstrations of Shockwave and its other robots.</p>
        </div>
    </div>
    <br/>
    <hr/>
    <br/>
    <div class="row">
        <div class="col-xs-9">

            <h3>Fun and Engaging Community Outreach</h3>
            <p style="margin-bottom:0px; padding-bottom:10px;">
                Team 254 strives not only for technical excellence but also maximum community impact. The team accomplishes this through demonstrations of the team’s robots, volunteering and outreach, and hosting workshops.

                <br /><br />
                In recent years, the team contributed to or participated in over 100 community events, including:
            </p>
                <ul style="border-left: 8px solid #003375; margin-left:2px; margin-bottom:0px;">
                    <li>BAE Diversity Day</li>
                    <li>NASA Diversity Day</li>
                    <li>White House Science Fair</li>
                    <li>TEDx San Jose</li>
                    <li>Google I/O</li>
                    <li>Take Flight for Kids</li>
                    <li>NASA Career Day</li>
                    <li>SAE Motor Fest</li>
                    <li>USS Hornet Cub Scout Day</li>
                    <li>San Francisco Fleet Week</li>
                    <li>the San Jose Sharks Festival</li>
                    <li>Indian Institute of Technology’s Techfest, which had more than 75,000 attendants. (2011)</li>
                    <li>Toys for Tots</li>
                    <li>Semiconductor Industry Association’s 35th Award Dinner and Reception</li>
                    <li>Second Harvest Food Drive</li>
                    <li>Sunnyvale Community Service Center</li>
                    <li>Girl Scout Destination Camps</li>
                    <li>San Jose Museum of Art Zero1 Festival</li>
                    <li>TED Global</li>
                    <li>Yuri's Night at NASA</li>
                    <li>U.S.S. Hornet</li>
                    <li>Bay Area Science Festival</li>
                    <li>WRRF Presentation</li>
                    <li>Charlie Bolden Lab Visit</li>
                    <li>Lab Tour for Zero Robotics Winners</li>
                    <li>San Francisco Science Fair at Pacbell Park</li>
                </ul>
            <p style=" margin-top:0px; padding-top:10px;">
                Team 254 is also particularly proud that it finishes each year distributing gifts and demonstrating its robot at Working Partnership's annual Holiday Fair and Toys for Tots event.
                <br /><br />
                Finally, Team 254 also hosts the largest privately organized Offseason robotics competition tournament in California.
            </p>
        </div>
        <div class="col-xs-3">
            <img class="img-circle" src="img/outreach/santaclara.jpg" style="max-height: 100%; max-width: 100%;" />
        </div>
    </div>
    <br/>
    <hr/>
    <br/>
    <div class="row">
        <div class="col-xs-3">
            <img class="img-circle" src="img/outreach/backshot.jpg" style="max-height: 100%; max-width: 100%;" />
            <!--<center>
                <br/>
                <h4>Team 254</h4>
                <h4>Take Flight For Kids</h4>
            </center>-->
        </div>
        <div class="col-xs-9">
            <h3>Giving Back to the Community</h3>
            <p>Team 254 is very fortunate to possess certain resources not available to other teams. Because of this, our team is devoted to spreading our resources to other teams in the form of outreach. Team 254 has started and mentored many teams throughout the West Coast of the United States and Israel. As early as the first few years of the decade, members from Team 254 traveled to Hawaii and Alaska to spread the message of FIRST to the farthest corners of the country. Team 254 was also involved in the creation of the Western Regional Robotics Forum (WRRF), which provides services to many northern California teams and hosts the CalGames Off-Season Competition each year</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
                <h3>Mentoring Teams</h3>
                <p>
                    Team 254 has started and mentored many teams throughout the West Coast of the United States and Israel. As early as the first few years of the decade, members from Team 254 traveled to Hawaii and Alaska to spread the message of FIRST to the farthest corners of the country. Team 254 was also involved in the creation of the Western Regional Robotics Forum (WRRF), which provides services to many northern California teams and hosts the CalGames Off-Season Competition each year.
                    <br /><br />
                    For example, 254 began helping Team 359, the Hawaiian Kids, in 1999, and mentored them until their 2011 Championship Chairman’s Award win, <strong>which marked the first time in FIRST history that a Hall of Fame team mentored another into the Hall of Fame.</strong>
                    <br /><br />
                    Team 971, inspired by 254’s commitment to excellence, began holding design reviews for other teams, inspired by the ones 254 gave them and other veteran and rookie teams in years past. They credit 254 for the inspiration and continue to collaborate with the team today.
                    <br /><br />
                    In addition, in the spirit of Coopertition, the FIRST robotics commitment to cooperation and competition, team mentors and students lead electrical, programming, CAD, competition analysis, and organizational workshops for local teams. For example, the team teaches classes at the WRRF workshops and the team’s mentors continue to provide extensive engineering support to teams 968 and 1868.
                    <br /><br />
                    Before the team ships off the robot to competition, Team 254 works with Team 1868 to organize a practice scrimmage at the NASA Ames Research Center so that other teams can better prepare for competition by fixing any problems and practicing their driving.
                    <br /><br />
                    Team 254 also mentors many FRC teams, both locally and over a distance. Furthermore, Team 254 mentors many First Lego League (FLL) and VEX Robotics Competition (VRC) teams throughout the San Francisco Bay Area. The team has mentored numerous FLL teams including those at St. Martin’s and St. Christopher middle schools.
                    <br /><br />
                    Besides work with individual teams, Team 254 has a 80% size practice field which we open up to other teams regularly. Besides an annual practice weekend and scrimmage on the last weekend of the build season, Team 254 is willing to work with any team so that they can come in when it fits their schedule. Team 254′s extensive mentoring throughout the years forms an integral part of its team history and we are proud to support many teams throughout the West Coast and throughout the world.
                </p>
        </div>
    </div>
    <br/>
    <br/>
</div>
<br/>
<hr />
<br/>

<br/>
<br/>
<br/>