<center><img src="img/teaminfo/team254/wholeteam.jpg" class="header-image-" style="width:100%"></center>

<div class="container">

    <!-- Caption for Team 254 -->
    <div class="info-caption caption-1">

        <br/>
        <br/>
        <div class="row">
            <div class="col-xs-4">
                <center>
                    <img class="img-circle face" src="img/teaminfo/ourstudents/confidence.jpg">
                    <br/>
                    <br/>
                    <h3>Confidence</h3>
                </center>
            </div>
            <div class="col-xs-4">
                <center>
                    <img class="img-circle face" src="img/teaminfo/ourstudents/communication.jpg">
                    <br/>
                    <br/>
                    <h3>Communication</h3>
                </center>
            </div>
            <div class="col-xs-4">
                <center>
                    <img class="img-circle face" src="img/teaminfo/ourstudents/leadership.jpg">
                    <br>
                    <br>
                    <h3>Leadership</h3>
                </center>
            </div>
        </div>
        <br/>
        <hr/>
        <br/>
        <h3>Who We Are</h3>
        <p>Robotics builds a solid foundation in engineering and technology and gives a real life perspective on math and science. Team 254 is a robotics team from San Jose, California comprised of over 100 high school students. We participate in FIRST (For Inspiration and Recognition of Science and Technology), VEX, and Zero Robotics, all of which are worldwide robotics competitions that contain thousands of teams and hundreds of thousands of students. These competitions strive to inspire young people to be leaders in the technological and scientific world. Our robotics program encourages innovation and fosters well-rounded life skills including self-confidence, communication, and leadership.</p>
    </div>

    <!-- Caption for Our Students -->
    <div class="info-caption caption-2">
        <div class="row">
            <div class="col-xs-4">
                <br />
                <br />
                <br />
                <img class="img-circle" src="img/teaminfo/ourstudents/mascot.jpg" style="max-height: 100%; max-width: 100%;" />
            </div>
            <div class="col-xs-8">
                <h3>Over the past seventeen years...</h3>
                <p>
                    FIRST Team 254, “The Cheesy Poofs,” has grown from one of the smallest programs in the country, at a struggling high school, to a large multifaceted organization. In 1998, NASA engineers Bob Holmes and Steve Kyramarios joined Jason Morella, then an English teacher and now with the Robotics Education and Competition Foundation, in founding the Cheesy Poofs. When Broadway High School was downsized, the program moved to Bellarmine College Preparatory in the fall of 2000. Since then, the team has won the FIRST Chairman’s Award, the FIRST Championship, the VEX Championship Excellence Award, and more awards than any other team in the program. The team started with as few as 5 members, and from then, has grown to more than 120 students.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                <h3>In addition to participating in the FIRST Robotics Competition...</h3>
                <p>
                    Team 254 participates in the VEX Robotics competition as well as the ZERO Programming competition. The team excels in all these competition achieving top notch qualification and prestigious awards. In addition, all 120 members of the team are required to complete a set number of robotics related service hours. In the past two years, Team 254 students have completed more than 8,000 community oriented service hours, founded 3 elementary school robotics programs, and attended more than 130 events to demonstrate what Robotics is all about. Not only do Team 254 students acquire technical skill sets, they also learn the fundamentals of other corporate tasks, such as project management, leadership, team building, marketing, etc.
                </p>
            </div>
            <div class="col-xs-3">
                <br /><br /><br />
                <a class="fancybox" rel="group" href="img/teaminfo/ourstudents/vex.jpg"><img class="img-circle pull-right" src="img/teaminfo/ourstudents/vex-square.jpg" style="width: 200px;" /></a>
            </div>
        </div>
        <h3>More important than any competitive success or awards...</h3>
        <p>
            The students of Team 254 grow academically, intellectually, and socially. Team 254 members gain a better understanding, a greater respect, and a more profound appreciation of the benefits of a good education. Much like NASA and Bellarmine College Preparatory, FIRST and VEX are organizations which, in a profound way, inspire and motivate our students to avidly pursue their academic, career, and personal goals.
        </p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>
