<br/>
<br/>
<div class="container">
    <div class="techbinder">
        <img src="img/technical/svgs/forsvg.svg" width="100%"/>
        <img src="img/technical/svgs/forsvg1.svg" width="100%"/>
        <img src="img/technical/svgs/forsvg2.svg" width="100%"/>
        <img src="img/technical/svgs/forsvg3.svg" width="100%"/>
        <img src="img/technical/svgs/forsvg4.svg" width="100%"/>
        <img src="img/technical/svgs/forsvg5.svg" width="100%"/>
        <img src="img/technical/svgs/forsvg6.svg" width="100%"/>
        <img src="img/technical/svgs/forsvg7.svg" width="100%"/>
        <img src="img/technical/svgs/forsvg8.svg" width="100%"/>
    </div>
</div>
